.skillcontainer {
	background-color: #de0599;
}

.skillcontainer h1 {
}

.skillbuttoncontainer {
	display: grid;
	gap: 5px;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	padding-bottom: 50px;
}
.skillbutton {
	background-color: #0599de;
	border: none;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	font-size: 3vh;
	cursor: pointer;
}
.skillbutton:focus {
	background-color: red;
}

.skillgrid {
	margin-top: 10px;

	display: grid;
	gap: 50px;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.skillcardflex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.skillcontent {
	flex-basis: 10%;
}
.skillcontent img {
	padding-top: 10px;
	width: 90px;
}
.animation-mousehover:hover {
	animation: mousehover 1s infinite;
}
