:root {
	--naranjaprincipal: #de4a05;
	--naranjasecundario: rgba(246, 111, 8, 0.9472163865546218);
	--rojalindo: rgba(255, 3, 98, 1);
}

.App {
	text-align: center;
}

.headercontainer {
	padding-top: 1vh;
}
.headercontainer h1 {
	border-bottom: black solid 3px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5vw;
	align-items: center;
	justify-content: center;
}

#info {
	margin-top: 10vh;
	display: block;
}
#info p {
	margin: auto auto;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	font-size: 3vh;
	inline-size: 80%;
	font-weight: bold;
}
#avatar {
	margin-top: 50px;
	width: 20vw;
	border-radius: 50%;
	border: 3px solid rgb(0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

#loader {
	display: grid;
	align-items: center;
	position: absolute;
	top: 0;
	background: linear-gradient(0deg, #de4a05 0%, 50%, #0599de 100%);
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}
.loader h2 {
	padding-top: 10%;
}
