:root {
	--azullindo: #0599de;
}

.App {
	text-align: center;
}
h2 {
	margin: 0;
}
h1 {
	margin: 0;
}
.headercontainer {
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 10vh;
	background-color: var(--azullindo);
}
.headercontainer h1 {
	padding-top: 3vh;
}
.headercontainer ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 5vw;
	list-style: none;
}
.headercontainer ul li {
	font-size: 2vh;
	font-weight: bolder;
}
.headercontainer ul li a {
	text-decoration: none;
	color: #ffffff;
}
.container {
	min-height: 101vh;
}

#info {
	padding-top: 5vh;
	display: block;
}
#info p {
	margin: auto auto;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	font-size: 3vh;
	inline-size: 80%;
	font-weight: bold;
}
#avatar {
	width: 30vh;
	border-radius: 50%;
	border: 3px solid rgb(0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.imgredes {
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	border: 3px solid rgb(0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
#loader {
	display: grid;
	align-items: center;
	position: fixed;
	top: 0;
	background: linear-gradient(0deg, #de4a05 0%, 50%, #0599de 100%);
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}
.loader h2 {
	padding-top: 10%;
}
.selectlang {
	text-align: center;
	background-color: var(--azullindo);
	height: 100vh;
	width: 100vw;
}
#selectlangdiv {
	background-color: none;
	padding-top: 20vh;
}

.selectlang div h2 {
	margin-bottom: 1vh;
	font-size: 5vh;
}

#selectlangdiv h1 {
	text-align: center;
	margin-bottom: 5vh;
}
.buttonlang {
	background-color: #ffffff;
	border: none;
	background-size: cover;
	border-radius: 5%;
	width: 10vw;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	-ms-border-radius: 5%;
	-o-border-radius: 5%;
}
.buttonlang:hover {
	cursor: pointer;
	animation: mousehover 1s infinite;
}
