.App {
	text-align: center;
	align-items: center;
	min-height: 100%;
	background: #be3e01;
	background: linear-gradient(180deg, #be3e01 0%, rgba(255, 3, 98, 0) 100%);
}

.headercontainer h1 {
	display: inline-flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
}

#info {
	margin-top: 20px;

	display: block;
}
#info p {
	margin: auto auto;
	text-align: center;
	inline-size: 600px;
	font-size: 20px;
	font-weight: bold;
}
#avatar {
	margin-top: 50px;
	width: 300px;
	border-radius: 50%;
	border: 3px solid rgb(0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.lds-ring {
	padding-top: 300px;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slide-left {
	0% {
	}
	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
